* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    line-height: 30px;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

a, button {
    cursor: pointer;
}

/* Utilities */

p, h4 {
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 0.8rem;
    font-weight: 400;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col, .col-33, .col-30, .col-70, .col-50, .col-100 {
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.btn {
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-circle {
    border: none;
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 25px;
}

.btn-r-violet {
    background-color: #9792e4;
    color: #000;
    transition: background-color 0.3s, outline 0.3s, outline-offset 0.3s;
}

.btn-r-violet:hover {
    background-color: #fff;
    outline: solid 10px #9792e4;
    outline-offset: -10px;
    color: #000;
}

.btn-violet {
    background-color: #9792e4;
    color: #fff;
}

.btn-violet:hover {
    background-color: #ececec;
    color: #9792e4;
}

.btn-blue {
    background-color: #0084fd;
    color: #fff;
}

.btn-blue:hover {
    background-color: #fff;
    color: #0084fd;
}

.btn-white {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.btn-white:hover {
    background-color: #000;
    color: #fff;
    font-weight: 400;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.padding-top-bottom-20 {
    padding: 20px 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-bottom-40 {
    padding: 40px 0;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-top-bottom-100 {
    padding: 100px 0;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.sfondo-violet {
    background-color: #9792e4;
}

.letter-spacing {
    letter-spacing: 0.1rem;
}

/* Header */

header {
    background-color: #0084fd;
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-hamburger i {
    font-size: 25px;
    color: #fff;
}

header .row {
    align-items: center;
}

.hamburger {
    position: relative;
}

.nav-hamburger ul{
    display: none;
    position: absolute;
}

nav i:hover ul {
    display: block;
}

/* Main */

.sezione-1 .card, sezione-2 .card, sezione-3 .card, sezione-4 .card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sezione-1 .card {
    background-color: #b5ddff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;
}

.sezione-1 h3 {
    color: #0084fd;
}

.sezione-1 p {
    color: #5a6e7f;
    font-weight: bold;
}

.card img {
    width: 100%;
    display: block;
}

.sezione-1 .btn i {
    margin-right: 10px;
}

.sezione-1 .logo-card {
    font-size: 6rem;
    color: #0084fd;
}

.sezione-2 h2, .sezione-2 p {
    color: #fff;
}

.sezione-2 .card p {
    color: #000;
    font-style: italic;
}

.sezione-2 .card {
    background-color: #fff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;
}

.sezione-3 h2 {
    color: #9792e4;
}

.sezione-3 .card {
    background-color: #9792e4;
    color: #fff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;
}

.quote {
    font-size: 1.6rem;
    line-height: 0px;
    
}

.fa-quote-left {
    padding-right: 10px;
}

.fa-quote-right {
    padding-left: 10px;
}

.contenuto-img {
    display: flex;
    justify-content: center;
}

.quotation-marks img, .sezione-5 img {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    object-fit: cover;
}

.sezione-4 .card {
    background-color: #fff;
    color: #5a6e7f;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-top: 10%;
    border-radius: 25px;
    text-align: left;
}

.sezione-4 .card h2, .sezione-4 h3 {
    color: #9792e4;
}

.sezione-4 .card h2 {
    font-size: 3rem;
}

.sezione-4 h2 {
    font-size: 2rem;
    color: #fff;
}

#titolo-4 {
    padding-bottom: 60px;
}

.sezione-4 .col:nth-child(1) .card {
    margin-top: 0;
}

.sezione-5 .btn {
    font-weight: 400;
}

.sezione-5 i {
    padding-right: 10px;
}

.sezione-5 h1, .sezione-5 h3 {
    color: #9792e4;
}

.contenuto-img-left {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.quote-big {
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 45%;
    color: #9792e4;
}

.sezione-6 {
    color: #fff;
}

.sezione-6 h1 {
    color: #fdc15f;
}

.fa-circle {
    font-size: 0.2rem;
    vertical-align: middle;
    margin: 0 5px;
}

.sezione-6 a {
    color: #fff;
}

.sezione-6 a:hover {
    color: #fdc15f;
}

.sezione-6 .btn-white{
    padding: 20px 60px;
    border-radius: 50px;
    color: #9792e4;
    font-weight: bold;
}

.sezione-6 .btn-white:hover{
    background-color: #fdc15f;
    color: #fff;
    
}

/* Footer */

footer {
    background-color: #333333;
    color: #fff;
}

footer a {
    color: #9792e4;
}

footer a:hover {
    color: #fff;
}



/* Media Query */

@media screen and (min-width:768px) {
    .container {
        width: 92%;
    }

    .row {
        justify-content: space-between;
    }

    .col-33 {
        width: calc(100% / 3 - 40px / 3);
    }

    .sezione-1 {
        padding: 40px 0 100px;
    }

    .sezione-1 .col-33:first-child {
        width: 65%;
        display: flex;
        flex-direction: row;
    }

    .sezione-1 .col-33:first-child img {
        width: 50%;
    }

    .sezione-1 .card {
        margin-top: 20px;
    }

    .sezione-1 .col-33:first-child .btn {
        
    }

    .sezione-3 .card {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    .sezione-3 .contenuto-testo p:first-child {
        padding: 0 0 40px 0;
    }

    .sezione-3 .contenuto-img img {
        width: 25vw;
        height: 25vw;
        margin-right: 40px;
    }

    .sezione-3 .card {
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
    }

    .sezione-4 .col-33 {
        width: calc(100% / 2 - 20px);
    }

    .sezione-4 .col:nth-child(2) .card, .sezione-4 .col:nth-child(3) .card {
        margin-top: 0px;
    }

    #titolo-4 {
        padding-bottom: 100px;
    }

    .sezione-5 .container {
        width: 85%;
    }

    .sezione-5 .col-70 {
        width: 65%;
    }

    .sezione-5 .col-30 {
        width: 35%;
    }

    .sezione-5 img {
        width: 100%;
        height: 100%;
    }

    .sezione-5 .contenuto-testo:first-child {
        padding-right: 60px;
    }

    .sezione-5 .contenuto-img-left .quote-big {
        position: absolute;
        top: 0;
        right: 0;
        color: #9792e4;
    }

    .sezione-5 .btn {
        font-size: 0.8rem;
        padding: 10px 20px
    }

    .sezione-6 .container, footer .container {
        width: 60%;
    }

    footer .row:last-child {
        padding-top: 0;
    }


    /*.sezione-1 .col-33:first-child .card {
        display: flex;
        flex-direction: row;
    }*/
}

@media screen and (min-width:992px) {
    .nav-desktop {
        display: block;
    }

    .nav-hamburger {
        display: none;
    }
}

@media screen and (max-width:991px) {
    .nav-desktop {
        display: none;
    }

    .nav-hamburger {
        display: block;
    }
}
